<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zclever.ipc">

    <application>

        <!--        <provider
                    android:name=".core.IpcProvider"
                    android:authorities="${applicationId}.zclever.ipc"
                     />-->

        <service android:name=".core.server.VideoCenter"  android:exported="true"/>
        <service android:name=".core.server.ServiceCenter" />

    </application>


</manifest>
